<div id="channels" class="min-w-full min-h-32 space-y-2">
  <% if channels.present? %>
    <%= render partial: 'channels/channel', collection: channels %>
    <%= paginate channels %>
  <% else %>
    <div class="p-4 my-4 text-sm text-blue-800 rounded-lg bg-blue-50" role="alert">
      <span class="font-medium">番組がありません</span>
    </div>
  <% end %>
</div>
