<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">番組を編集</h1>

  <%= render "form", channel: @channel %>

  <%= link_to "詳細", @channel, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "戻る", group_channels_path(@channel.group), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
