<% content_for :title, "番組を編集 - " %>
<div class="mx-auto md:w-2/3 w-full">
  <%= link_to @channel.group.name, @channel.group, class: 'text-xl' %>
  <h1 class="font-bold text-4xl">番組を編集</h1>

  <%= render 'form', channel: @channel %>

  <%= link_to '戻る', @channel, class: 'text-gray-600 hover:text-white border border-gray-600 hover:bg-gray-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm py-3 text-center inline-block w-28' %>
</div>
