<div class="relative overflow-x-auto">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">
          名前
        </th>
        <th scope="col" class="px-6 py-3">
          メールアドレス
        </th>
        <th scope="col" class="px-6 py-3">
          管理者
        </th>
        <th scope="col" class="px-6 py-3">
          脱退
        </th>
      </tr>
  </thead>
  <tbody>
    <% memberships.each do |membership| %>
    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
      <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
        <%= membership.user.name %>
      </th>
      <td class="px-6 py-4">
        <%= membership.user.email %>
      </td>
      <td class="px-6 py-4">
        <%= membership.admin %>
      </td>
      <td class="px-6 py-4">
        <%= membership.withdrawal %>
      </td>
    </tr>
    <% end %>
  </tbody>
  </table>
</div>
