<div class="relative overflow-x-auto">
  <table class="w-full text-sm text-left text-gray-500">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
      <tr>
        <th scope="col" class="px-6 py-3">
          名前
        </th>
        <th scope="col" class="px-6 py-3">
          メールアドレス
        </th>
        <th scope="col" class="px-6 py-3">
          管理者
        </th>
        <th scope="col" class="px-6 py-3">
          脱退
        </th>
      </tr>
    </thead>
    <tbody>
      <% memberships.each do |membership| %>
      <tr class="bg-white border-b">
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
          <%= membership.user.name %>
        </th>
        <td class="px-6 py-4">
          <%= membership.user.email %>
        </td>
        <td class="px-6 py-4">
          <%= button_to "#{membership.admin} から変更する",
            group_member_path(membership.group, membership.user),
            method: :patch,
            params: { membership: { admin: !membership.admin }},
            class: 'mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium' %>
        </td>
        <td class="px-6 py-4">
          <%= button_to "#{membership.withdrawal} から変更する",
            group_member_path(membership.group, membership.user),
            method: :patch,
            params: { membership: { withdrawal: !membership.withdrawal }},
            class: 'mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium' %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
