<div x-data="{ dialog: $el.querySelector('dialog'),
  invitationURL: '<%= invitations_url group.invitation.token %>',
  invitationText: '',
  defaultText: `[サービス名]へようこそ！

[サービス名]はプライベートなポッドキャストサービスです。

以下のリンクをクリックして、[サービス名]の<%= group.name %>グループに加入してください：
<%= invitations_url group.invitation.token %>

[サービス名]にはユーザー登録が必要です。リンク先で簡単な登録手続きを行い、すぐに素晴らしいポッドキャストコンテンツを楽しんでください！
` }" class="inline-block">
  <button @click="invitationText=defaultText; dialog.showModal()" class="text-blue-600 hover:text-white border border-blue-600 hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">グループに招待</button>
  <dialog
    x-data="{ close() { $el.close() } }"
    @click="$event.target === $el && close"
    class="w-full max-w-2xl p-0 rounded-lg max-h-full">
    <div>
      <div class="flex items-start justify-between p-4 border-b rounded-t">
        <h3 class="text-xl font-semibold text-gray-900">
          リンクを共有してグループに招待できます
        </h3>
        <button type="button" @click="close" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center">
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
          </svg>
          <span class="sr-only">閉じる</span>
        </button>
      </div>
      <div class="p-6 space-y-5">
        <p class="text-base leading-relaxed text-gray-900">
          テキストをコピーして共有しよう！
        </p>
        <textarea x-model="invitationText" rows="10" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500">
        </textarea>
      </div>
      <div x-data="{ copyToClipboard(text) { navigator.clipboard.writeText(text) } }" class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b">
        <button type="button" @click="copyToClipboard(invitationURL)" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">リンクのみコピー</button>
        <button type="button" @click="copyToClipboard(invitationText)" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">クリップボードにコピー</button>
        <button type="button" @click="close" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 ">閉じる</button>
      </div>
    </div>
  </dialog>
</div>
