<div class="min-h-32">
  <% if episodes.present? %>
    <div class="divide-y divide-blue-100">
      <%= render episodes %>
    </div>
    <%= paginate episodes %>
  <% else %>
    <div class="p-4 my-4 text-sm text-blue-800 rounded-lg bg-blue-50" role="alert">
      <span class="font-medium">エピソードが投稿されていません</span>
    </div>
  <% end %>
</div>
