<% content_for :title, "#{@group.name}" %>
<div class="w-full flex flex-col gap-2">
  <%= render 'detail_view', group: @group %>

  <%= turbo_frame_tag 'group-tab', data: { turbo_action: 'advance' } do %>
    <%= render 'tabs', group: @group, active_tab: 'new_episodes' %>
    <%= render 'recent_episode_list', episodes: @episodes %>
  <% end %>
</div>
