<% content_for :title, "新しいエピソード - " %>
<div class="mx-auto md:w-2/3 w-full">
  <%= link_to @channel.title, @channel, class: 'text-xl' %>
  <h1 class="font-bold text-4xl">新しいエピソード</h1>

  <%= render 'form', episode: @episode %>

  <%= link_to '戻る', @channel, class: 'text-blue-600 hover:text-white border border-blue-600 hover:bg-blue-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-block w-24' %>
</div>
